################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSDT/Test_01/.vs/Test_01/FileContentIndex/b632361e-5cac-4436-819f-2bb4cc3c347a.vsidx
