################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSDT/Test_01/.vs/Test_01/FileContentIndex/b632361e-5cac-4436-819f-2bb4cc3c347a.vsidx
/SSDT/Test_01/.vs/Test_01/FileContentIndex/67369022-318c-4253-86ed-57219c729fab.vsidx
