################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSDT/Test_01/.vs/Test_01/FileContentIndex/b632361e-5cac-4436-819f-2bb4cc3c347a.vsidx
/SSDT/Test_01/.vs/Test_01/FileContentIndex/67369022-318c-4253-86ed-57219c729fab.vsidx
/SSDT/Test_01/.vs/Test_01/FileContentIndex/b06bb941-cf3f-4710-b788-c0f99dbad4ec.vsidx
/SSDT/Test_02/.vs/Test_02/FileContentIndex/e596a8e2-b46b-432c-a9bb-5a5481de9329.vsidx
/SSDT/Test_02/.vs/Test_02/FileContentIndex/84de472d-4892-44cc-bb60-88436a7eb3ba.vsidx
/SSDT/Test_02/.vs/Test_02/FileContentIndex/c9015764-be71-45cb-99cb-686386501c8a.vsidx
/SSDT/Test_02/.vs/Test_02/FileContentIndex/d1d673af-1eee-4d45-bfb6-7326395d0d87.vsidx
/SSDT/Test_02/.vs/Test_02/FileContentIndex/6eddd48f-c7df-49e1-ba05-5d4ed1e5a508.vsidx
